.content {
  background-color: white;
}

.content  {
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  color:black;
  padding: 50px;
}


img {
  width:50%;
}

/*Styling homepage tree images/captions*/

.ashtreeimage{
  height:300px;
  width:250px;
}

.treeimage {
  height:150px;
  width:200px;
}

.texts {
  text-align: center;
}

.treefriends {
  height:165px;
  width:300px;
}
/*end*/

.bgimage {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  opacity: 0.6;
}

.bigheading {
  color: #000000;
  font-size: 50px;
  font-weight: 800;
  text-transform: uppercase;
}
/*Image styles*/

.floatimage {
  float: right;
  padding: 10px;
  height: 250px;
  width: 400px;
}

.image {
  height: 225px;
  width: 300px;
}

.palmimage {
  height: 200px;
  width: 300px;
}

.imagecenter {
    display: block;
    margin: 0 auto;
}
/* end image styles*/


/*Links*/
.llink, .vvisited {
  background-color: #009900;
  color: white;
  padding: 10px 21px;
  text-align: center;
  text-decoration: none;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  display: inline-block;
  
}

.hhover, .ggoing {
  background-color: #009900;
}
.link, .visited {
    background-color: white;
    color: black;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    display: inline-block;
}

.hover, .going {
    background-color: white;
}

.circle {
    border-radius: 100%;  
    padding: 10px;
    background: green;
    display:inline-block;
    line-height:100px;
    text-decoration: none;
    color: white;
}
/*End links*/

/*Table styling*/
th, td {
    padding: 8px;
    text-align: left;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

table, th, td {
    border: 1px solid black;
}

th {
  background-color: #228B22;
}
/*End table styling*/
