.content {
  background-color:#f1f1f1;
}

.content  {
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  color:black;
}


img {
  width:50%;
}
/*HOME PAGE STYLING*/
/*Styling tree images/captions*/

.ashtreeimage{
  height:300px;
  width:250px;
}

.treeimage {
  height:150px;
  width:200px;
}

.imagecenter {
    display: block;
    margin: 0 auto;
}

.texts {
  text-align: left;
}

.treefriends {
  height:165px;
  width:300px;
}

/*End of that*/
/*END OF HOME STYLING*/
