.content {
  background-color: #f1f1f1;
}

.content  {
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  color:black;
  padding: 50px;
}


img {
  width:50%;
}

/*Styling tree images/captions*/

.ashtreeimage{
  height:300px;
  width:250px;
}

.treeimage {
  height:150px;
  width:200px;
}

.imagecenter {
    display: block;
    margin: 0 auto;
}

.texts {
  text-align: left;
}

.treefriends {
  height:165px;
  width:300px;
}

.bgimage {
  background-image: url("https://judithwu.github.io/images/BigTree.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  opacity: 0.6;
}

.bigheading {
  color: black;
  font-size: 50px;
  font-weight: 800;
  text-transform: uppercase;
  
}
