.content {
  background-color: #f1f1f1;
}

.content  {
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  color:black;
  padding: 50px;
}


img {
  width:50%;
}

/*Styling tree images/captions*/

.ashtreeimage{
  height:300px;
  width:250px;
}

.treeimage {
  height:150px;
  width:200px;
}

.imagecenter {
    display: block;
    margin: 0 auto;
}

.texts {
  text-align: center;
}

.treefriends {
  height:165px;
  width:300px;
}

.bgimage {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  opacity: 0.6;
}

.bigheading {
  color: black;
  font-size: 50px;
  font-weight: 800;
  text-transform: uppercase;
}

.rightfloat {
  float: right;
  padding: 10px;
}

.floatimage {
  float: right;
  padding: 10px;
  height: 250px;
  width: 400px;
}

.leftfloat {
  float:left;
  padding: 10px;
  height: 250px;
  width: 400px;
}

.link, .visited {
    background-color: #33d6ff;
    color: black;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    display: inline-block;
}

.hover, .going {
    background-color: #6666ff;
}

/*Table styling*/
th, td {
    padding: 8px;
    text-align: left;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

table, th, td {
    border: 1px solid black;
}

th {
  background-color: #228B22;
}
/*End table styling*/

.beach {
  height:150px;
  width: 300px;
}
